
.category-contain{
    width: 25%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 20px;
}